.jumbotron {
	margin-top: 100px;
}

#welcome {
  text-align: center;
}

#login, #logout {
  margin-top: 8px;
  color: white !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

#login:hover {
  background-color: #5cb85c;
}

#logout:hover {
  background-color: #d9534f;
}

#phoneCarrier {
  display: block;
}

#scheduleForm {
  display: none;
}

#scheduleAlert {
  text-align: center;
  padding-top: 10px
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.col-1 {
	width: 56%;
	float: left;
	position: relative;
	/*text-align: right;*/
	min-height: 1px;
	/*padding-right: 10px;*/
	padding-left: 15px;
}

.col-2 {
	width: 44%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

#user {
  color: gray;
}

.error {
  border: solid red 1px;
}
#error {
  color: red;
  visibility: hidden;
}

#schedules th {
  text-align: center;
  padding: 5px;
}

#schedules td {
  padding: 10px;
}

footer {
  text-align: center;
}